{# <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{path("accueil")}}">MonSuperHero</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
        <a class="nav-link" href="{{path("personnages")}}">Personnages</a>
      </li>
     
     
    </ul>
    
  </div>
</nav> #}
<div>
<nav>
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{path('accueil')}}">SuperHero</a></li>
        <li><a href="{{path('personnages')}}">Personnages</a></li>
        <li><a href="{{path('armes')}}">Armes</a></li>
      </ul>
    </div>
  </nav>
</div>


   
  



